h1 Customer

ul(class="nav nav-tabs" role="tablist")
	li(onclick="switch_customer_navfield('general', this)" id="general_tab")
		a(href="#") General
	li(onclick="switch_customer_navfield('lists', this)" id="lists_tab")
		a(href="#") User lists
	li(onclick="switch_customer_navfield('ticket', this)" id="ticket_tab")
		a(href="#") Ticket fields
	li(onclick="switch_customer_navfield('status', this)" id="status_tab")
		a(href="#") Status fields
<br><br>
div(id="general_customer_div" class="nav_content")
	form(class="form" role="form" id="administration_customer_form")
		div(class="form-group")
			label ID: #{id}
			<br>
			label Name: 
			input(class="form-control" type="text" value="#{name}" placeholder="Name") 
			<br>
			div(class="checkbox")
				label
					input(type="checkbox")
					| Allow everyone to create a ticket
			<br><br>
			button(type="button" class="btn btn-default") Save
	<br><br><br>
	span(id="disable_customer_info")
	if active
		div(class="" style="background-color: #ff4136;")
			div(class="checkbox")
				label
					input(type="checkbox" id="disable_customer_checkbox")
					| Disable and archive customer
			button(class="btn btn-danger" onclick="disable_customer(#{id})") Disable
	else
		div(class="" style="")
			div(class="checkbox")
				label
					input(type="checkbox" id="disable_customer_checkbox")
					| Enable customer
			button(class="btn btn-default" onclick="enable_customer(#{id})") Enable
		
div(id="lists_customer_div" style="" class="nav_content")
	h3 Users list
	button(class="btn btn-primary") Add user
	<br>
	table(class="table table-striped table-hover table-condensed")
		tr
			td ID
			td Last name
			td First name
			td Email
			td Last active
			
		for loop_user in users
			tr
				td=loop_user.id
				td=loop_user.last_name
				td=loop_user.first_name
				td=loop_user.email
				if loop_user.update_timestamp
					td=loop_user.update_timestamp
				else
					td
		
	h3 Black list
	button(class="btn btn-primary") Add email
	<br>
	table(class="table table-striped table-hover table-condensed")
		tr
			td Email
		for entry in blacklist
			tr
				td entry.email
				
	<br><br>
	button(type="button" class="btn btn-default") Save
div(id="ticket_fields_customer_div" style="" class="nav_content")
	h3.
		Hallo Ticket<br>
		Assigned agent and user are fixed.<br>
		Everything other is variable but might not be imported from email.

div(id="status_fields_customer_div" style="" class="nav_content")
	h3.
		Hallo Status<br>
		New, Assigned, Closed and Archived are fixed.
