extends private-layout

block content					
	div(class="row")
		div(class="col-sm-3 col-md-3 col-lg-3")
			div(class="row")
				div(class="col-sm-3 col-md-3 col-lg-3")
					button(class="btn btn-primary" onclick="show_createTicketModal()" ) Create Ticket
			div(class="row")
				div(class="col-sm-3 col-md-3 col-lg-3")
					div(class="col-sm-3 col-md-3 col-lg-3" id="ticket_list")
						ul(class="list-unstyled")
							for loop_ticket in tickets
								li
									if loop_ticket.agent.id
										span(class="btn" id=loop_ticket.id onclick="ticket_click(this.id)")=loop_ticket.caption
									else
										u(class="btn" id=loop_ticket.id onclick="ticket_click(this.id)" underline)=loop_ticket.caption
										
									
									
					
		div(class="col-sm-9 col-md-9 col-lg-9" id="ticket_space")


	<!-- Modal -->
	div(class="modal fade" id="createTicketModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
		div(class="modal-dialog")
			div(class="modal-content")
				div(class="modal-header")
					button(type="button" class="close" data-dismiss="modal")
						span(aria-hidden="true") &times;
						span(class="sr-only") Close
					h4(class="modal-title" id="myModalLabel") Create Ticket
				div(class="modal-body")
					form(class="form" role="form" id="send_ticket_form")
						div(class="form-group")
							input(type="text" class="form-control input-lg" placeholder="Caption" id="create_ticket_form_caption")
							<br><br>
							label User:
							select(class="form-control" id="create_ticket_form_user")
								for user in users
									option(id=user.id)=user.first_name + ' ' + user.last_name
							<br><br>
							label Agent:
							select(class="form-control" id="create_ticket_form_agent")
								for agent in agents
									option(id=agent.id)=agent.first_name + ' ' + agent.last_name
							<br><br>
							for data in datamodel
								label #{data.name}
								
								input(type="text" class="form-control" class="custom_properties" id="#{data.id}" placeholder="#{data.name}" mandatory="#{data.mandatory}")
								<br><br>
							textarea(class="form-control" rows="5" placeholder="Description" id="create_ticket_form_description")
				div(class="modal-footer")
					button(type="button" class="btn btn-default btn-lg" data-dismiss="modal") Close
					button(type="button" class="btn btn-primary btn-lg" onclick="ticket_send()") Send
			
	
	script(src='/javascripts/jquery.hotkeys.js')
	script(src='/javascripts/ticketsystem.js')
	script.
		$(document).bind('keydown', 'shift+t', function () {
			show_createTicketModal();
		});
		
