
<!-- Split button -->
div(class="btn-group")
	if assigned_agent
		button(type="button" class="btn btn-success" id="ticket_status") Assigned
	else
		button(type="button" class="btn btn-success" id="ticket_status") Open
	button(type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown")
		span(class="caret")
		span(class="sr-only") Toggle Dropdown
		
	ul(class="dropdown-menu" role="menu")
		li
			a(href="#" onclick="set_ticket_to_open()") Open
		li
			a(href="#" onclick="showAssignAgentModal()") Assigned
		li
			a(href="#") In progress
		li
			a(href="#") Waiting
		li
			a(href="#") Solved
		li(class="divider")
		li
			a(href="#") Archive
	
button(class="btn btn-primary" style="margin-left: 10px;" onclick="ticket_create_comment(#{id})") Write a comment
	
<br><br>
strong #{caption} - 
u(data-toggle="tooltip" data-placement="left" title="#{create_timestamp.detailed}") #{create_timestamp.short}
strong , Ticket ID:
span(id="ticket-id") #{id}

if assigned_agent
	span(id="assigned_to_agent") , Assigned to #{assigned_agent.first_name} #{assigned_agent.last_name}
else
	span(id="assigned_to_agent") , Not assigned
	
blockquote #{description}

<br>
	
<br><br><br>

if comments.length > 0
	h2 Comments
	
	for loop_comment in comments
		span Written by #{loop_comment.agent.name] on 
		u(data-toggle="tooltip" data-placement="left" title="#{loop_comment.create_timestamp.detailed}") #{loop_comment.create_timestamp.short}
		<br><br>
		blockquote(id="comment_id_" + loop_comment.id)
			p=loop_comment.description
		<br><br>

<!-- Modal -->
div(class="modal fade" id="createCommentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
	div(class="modal-dialog")
		div(class="modal-content")
			div(class="modal-header")
				button(type="button" class="close" data-dismiss="modal")
					span(aria-hidden="true") &times;
					span(class="sr-only") Close
				h4(class="modal-title" id="myModalLabel") Create comment
			div(class="modal-body")
				form(class="form" role="form" id="send_ticket_form")
					div(class="form-group")
						textarea(class="form-control" rows="5" placeholder="Comment" id="create_comment_form_description")
			div(class="modal-footer")
				button(type="button" class="btn btn-default btn-lg" data-dismiss="modal") Close
				button(type="button" class="btn btn-primary btn-lg" onclick="comment_send()") Send
	
		
div(class="modal fade" id="assignAgentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
	div(class="modal-dialog")
		div(class="modal-content")
			div(class="modal-header")
				button(type="button" class="close" data-dismiss="modal")
					span(aria-hidden="true") &times;
					span(class="sr-only") Close
				h4(class="modal-title" id="myModalLabel") Assign agent
			div(class="modal-body")
				form(class="form" role="form" id="send_ticket_form")
					div(class="form-group")
						select(class="form-control" id="agent_assignAgentModal_form")
							for agent in agents
								option(id="#{agent.id}") #{agent.first_name} #{agent.last_name}
			div(class="modal-footer")
				button(type="button" class="btn btn-default btn-lg" data-dismiss="modal") Cancel
				button(type="button" class="btn btn-primary btn-lg" onclick="assign_agent_to_ticket()") Assign
			
script.
	$(document).bind('keydown', 'shift+c', function () {
		ticket_create_comment();
	});
